*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.NavBar {
  background: #fff; /* Navbar arka plan rengi */
}

.Sidebar {
  width: 250px; /* Yan menü genişliği */
  /* height: 200px; */
  background: #f4f4f4; /* Yan menü arka plan rengi */
  padding: 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 18px; /* checklist başlığı */
  font-weight: bold;
}

/* .brand {
  height: 150px;
  display: flex;
  flex-direction: column; /
  overflow-y: auto;
  overflow-x: hidden;
}  */

.textField {
  display: flex;
  justify-content: space-between;
}

.textField > * {
  width: 100px;
}

.CarCard {
  display: flex;
  padding: 3px;
  width: 860px;
  flex-grow: 1;
}

.CardTitle {
  font-weight: 600;
  color: #2d3631;
}

.parentDetails {
  display: flex;
}
.details1 {
  margin-top: 2.5rem;
  display: flex;
}

.buynow {
  margin-left: 300px;
  margin-bottom: 300px;
}






.sectionContent{
  display: flex;
}

.footerContainer {
  width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Yatayda ortalama */
}

.top{
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}


.Footer {
  background: #222; /* Footer arka plan rengi */
  color: #fff; /* Footer metin rengi */
  text-align: center;
  padding: 10px 0;
}
